/*Variables Colores Página */
:root{
    --blanco: #ffffff;
    --oscuro:   #000000;
    --primario: #FFC107;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F9;
    --rojoOscuro: #FF0000;
}
/* Global */
/* 1rem = 10px */
html{
    font-size: 62.5%;
    box-sizing: border-box;
    /* scroll-snap-type: y mandatory; */
}
*, *:before, *:after {
    box-sizing: inherit;
  }
/* Titulos*/
  h1{
      font-size: 10.8rem;
  }
  h2{
      font-size: 2.8rem;
      padding-top: 5rem;
  }
  h1{
      font-size: 1.8rem;
  }
  h1,h2,h3{
      text-align: center;
  }


/*Container Divs*/
.container{
    
    display:grid;
    grid-template-columns: 200px 200px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
    padding:1rem;
    border-radius:10px;
    color:#000000;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    margin-top: 5rem;
}
/* Body*/

.actual{
    color: #000000;
}

body{
    font-size: 16px;
    font-family:  'Poppins', sans-serif;
    /*background-image: linear-gradient(to top,var(--rojoOscuro) 0%, var(--blanco) 100%); */
    background-color: #D3E4CD;
    color: #000000;
}


/* Navegador*/

.contenedor{
    max-width: 120rem;
    margin:0 auto;
}

.boton, .enviar{
    background-color: #950101;
    color: var(--blanco);
    padding: 1rem 3rem 1rem 3rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: .5rem;
    text-align: center;
    border-radius: none;
}

.boton:hover, .enviar:hover{
    cursor: pointer;
    background-color: #7c0404;
    animation-duration: 350ms;
    color: #000000;
}
 
.navbg{
    background-color:#99A799;

}
    /* media min width: movil 480 px tablet 768 px 1140px pc|no torre 1400*/
.navegacionprincipal{
    display: flex;
    justify-content: space-between;
    
}

@media (min-width:768px){
    .navegacionprincipal{
        flex-direction: row;
    }
}

.navegacionprincipal a{
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #000000;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1rem;
}

.navegacionprincipal a:hover{
    background-color: var(#000000);
    color: #FFC107;
}
p{
    text-align: center;
    padding-left: 20%;
    color: #000000;
    padding-right: 20%;
    font-size: 21px;
}



.componentes {
    font-size: 21px;
}




h2{
    font-size: 40px;
    color: #000000;
}


img { display: block; margin: auto; }

.subtitulo{
    font-size: 21px;
    text-align: center;
}

.tituloGrupos{
    font-size: 40px;
}


.logoEquipo{
    border-radius: 80%;
}

.peligroSeñal{
    border-radius: 100%;
    width: 60%;
    height: 60%;
}



/*Footer */

.footer{
    text-align: center;
    background-color:#998e8e;
}

.instagram{
    cursor: pointer;
}

.instagram:hover{
    background: white;
    border-radius: 40%;
}

.fondoOscuro {
    background-color: #998e8e
    
}


.blanco{
    color: #ffffff;
    text-align: center;
}
 